.headingtext{
    font-family: 'Poppins', sans-serif  ;
    color: #121212;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.subheadingtext{
    @extend .headingtext;
    font-size: 40px;
}

.smallheading{
    @extend .headingtext;
    font-size: 32px;
    // @include center;
    @include responsive(md){
        font-size: 36px;
        color: green;
    }
     @include responsive(sm){
        font-size: 28px;
        color: blue;
    }
    @include responsive(xs){
        font-size: 24px;
        color: red;
    }
   
}












