
$font :"Poppins", sans-serif;
$primary_color: #ff0000;



$colors:(
    dark_color:#121212,
    light_color:#f5f5f5,

    primary_color:(
        base:#ff0000,
        light:#ff6666,
        dark:#b20000
    ),
    secondary_color:(
        base:#00ff00,
        light:#66ff66,
        dark:#00b200
    ),
    status:(
        active:#0000ff,
        inactive:#808080
    )
);



@function color($color-name, $shade: null) {
    @if ($shade != null) {
        @return map-get(map-get($colors, $color-name), $shade);
    }
    @else{
        @return map-get($colors, $color-name);
    }
}


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}





$xs : 480px;
$sm :576px;
$md :768px;
$lg :993px;
$xl :1200px;
$xxl :1400px;

@mixin responsive ($breakpoint) {

    @if $breakpoint == xs {
        @media (max-width: $xs) {
            @content;
        }
    } @else if $breakpoint == sm {
        @media (max-width: $sm) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (max-width: $md) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (max-width: $lg) {
            @content;
        }
    } @else if $breakpoint == xl {
        @media (max-width: $xl) {
            @content;
        }
    } @else if $breakpoint == xxl {
        @media (max-width: $xxl) {
            @content;
        }
    }

}



@import '_about.scss';












