.headingtext, .smallheading, .subheadingtext {
  font-family: "Poppins", sans-serif;
  color: #121212;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.subheadingtext {
  font-size: 40px;
}

.smallheading {
  font-size: 32px;
}
@media (max-width: 768px) {
  .smallheading {
    font-size: 36px;
    color: green;
  }
}
@media (max-width: 576px) {
  .smallheading {
    font-size: 28px;
    color: blue;
  }
}
@media (max-width: 480px) {
  .smallheading {
    font-size: 24px;
    color: red;
  }
}

.homepageWrapper {
  display: flex;
  flex-direction: row;
}

.sidebarWrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebarWrapper-content {
  position: relative;
}
.sidebarWrapper-content-image {
  height: 210px;
  width: 210px;
}
.sidebarWrapper-content-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebarWrapper-content-name {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: yellow;
}
.sidebarWrapper-content-name p {
  text-align: center;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.sidebarWrapper-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #151931;
  height: 100%;
}
.sidebarWrapper-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sidebarWrapper-menu ul li {
  color: #e2e1f1;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.sidebarWrapper-menu ul li:hover {
  color: yellow !important;
}
.sidebarWrapper-menu ul li a {
  text-decoration: none;
  color: #e2e1f1;
}
.sidebarWrapper-menu ul li a:hover {
  color: yellow !important;
}

.bodyWrapper {
  width: 100vw;
  margin-left: 210px;
}
.bodyWrapper-herosection {
  background-image: url("https://rxdtheme.com/html/themetum/wokoya/new-sidebar/img/header-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.bodyWrapper-herosection .herosectionOverlay {
  background-color: rgba(21, 25, 49, 0.5);
  height: 100%;
  width: 100%;
  padding-left: 24px;
}
.bodyWrapper-herosection .headerContent {
  position: relative;
}
.bodyWrapper-herosection .headerContent-contactinfo {
  display: flex;
  gap: 60px;
}
.bodyWrapper-herosection .headerContent-contactinfo p {
  color: #d9d8e7 !important;
  font-size: 1.125rem;
  padding-top: 1.2rem;
  font-weight: 600;
}
.bodyWrapper-herosection .headerContent-mailIcon {
  background-color: yellow;
  padding: 8px;
  color: rgb(21, 25, 49);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  padding: 12px 30px;
  background-color: #f9ca21;
  color: #151931;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.button:hover {
  box-shadow: 4px 7px 10px 2px #1e196c;
  padding-right: 40px;
  padding-left: 40px;
}

.borderWrapper {
  border-left: 2px solid #f9ca21;
  height: 200px;
  border-radius: 2px;
  position: relative;
  display: flex;
}
.borderWrapper-point, .borderWrapper-point3, .borderWrapper-point2, .borderWrapper-point1 {
  position: absolute;
  left: -5px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.borderWrapper-point-innerpoint {
  height: 4px;
  width: 4px;
  background-color: yellow;
  border-radius: 2px;
}
.borderWrapper-point1 {
  top: 50px;
}
.borderWrapper-point2 {
  top: 100px;
}
.borderWrapper-point3 {
  top: 150px;
}

.imageContainer {
  height: 300px;
  width: 200px;
  cursor: pointer;
  position: relative;
}
.imageContainer-image {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.imageContainer-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imageContainer-content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding-left: 10px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.imageContainer-content div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageContainer-content p {
  color: yellow !important;
  font-size: 18px;
  font-weight: 600;
}
.imageContainer:hover .hoverimage {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  border: none;
}
.imageContainer:hover .imageContainer-content {
  display: block;
}

.serviceCardWrapper {
  background-color: white;
  width: 33%;
  height: 200px;
  margin-top: 30px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.serviceCardWrapper-inside {
  transition: all 0.5s ease-in-out;
  background-color: yellow;
  width: 0%;
  height: 100%;
}
.serviceCardWrapper-content {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.serviceCardWrapper-content .insider {
  padding: 20px 15px;
}
.serviceCardWrapper-content-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #d9d8e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceCardWrapper-content h4 {
  color: #151931;
  font-size: 1.25rem;
}
.serviceCardWrapper-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.serviceCardWrapper-content ul li {
  color: #151931;
}
.serviceCardWrapper:hover .serviceCardWrapper-inside {
  width: 100%;
}
.serviceCardWrapper:hover .serviceCardWrapper-content-icon {
  background-color: white;
}
.serviceCardWrapper:hover .serviceCardWrapper-circleTwo {
  display: none;
}
.serviceCardWrapper:hover .serviceCardWrapper-circleOne {
  display: none;
}
.serviceCardWrapper-circleOne {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: yellow;
  position: absolute;
  bottom: -3px;
  right: -3px;
}
.serviceCardWrapper-circleTwo {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: #f9ca21;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
}/*# sourceMappingURL=index.css.map */