Selector{
    property: value;
}

*{
color: blue;
  font-family: "Poppins", sans-serif;

}

#home{
    color: red;
}


.navlink{
    color: green;
}

.underline{
    font-size: 20px;
}

a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif !important;
    font-size: 1.25rem;
    line-height: 0px;
    font-weight: 600;
    font-style: normal;
    ;

}

div[role="background"]{
    background-color: yellow;
}


.footer-text{
    width: 200px;
    height: 50px;  
    /* overflow: hidden; */
    overflow: auto;
    /* overflow-x: scroll; */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
     text-overflow: ellipsis; */
}

.footer-text::-webkit-scrollbar {
    display: none !important;
    scrollbar-width: 0px !important;
}

.clickButton{
    height: 100px;
width: 100px;
   
border-color: rgba(0, 0, 0, 0.2);
/* border-radius: 50%; */
border-radius: 50px;

}

.toggleDiv{
    height: 500px;
    width: 500px;
    /* background-color: lightblue; */
    /* background-image: url(./image.jpg); */
    /* margin-top: 20px;
    border-radius: 50px; */
    /* display: none; */
}

.imageWrpper{
    height: 200px;
    width: 500px;
    overflow: hidden;
}

.imageWrapper-image{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
 display: flex;
}

.imageContainer{
    display: flex;
    flex-direction: row;
   margin-top: 30px;
   border: 2px solid red;
   justify-content: center;
   gap: 20px;
   align-items: stretch;


}

.imageContainer-div{
    /* height: 100px; */
    width: 100px;
    overflow: hidden;
}

.imageContainer-div1{
    height: 200px;
    width: 100px;
    overflow: hidden;
    animation-name:slideIn  ;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.parentDiv{
    margin-top: 50px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    gap: 10px; */
    /* grid: auto auto auto; */
    grid-template-columns: auto auto ;
    

}

.childDiv{
    /* background-color: red; */
    /* height: 200px; */
    border: 2px solid red;
}

/* .childDiv--one{
    grid-column-end: span 2;
    grid-row-end: span 2;
} */

.childDiv--seven{
    grid-column-start: 2;
    grid-column-end: 4;
}

.childDiv--five{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.transition{
    height: 20px;
    width: 100px;
    margin-top: 50px;
  /* animation-name: Rotate;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function: linear; */
}

/* .transition:hover{ */
    /* height: 50px; */
/* transform: scaleX(1.5);
} */


@keyframes Sliding {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
}

@keyframes Bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}


.typewriterAnimation{
    font-size: 20px;
    width: 0;
    overflow: hidden;
    animation: typewriteranimation 10s  1s 1 forwards,
               blink 1s  infinite normal;
}



@keyframes typewriteranimation{
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink{
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
}


.wrapper{
    border: 2px solid red;
    width: 300px;
    height: 300px;
}

.transitionWrapper{
    width: 0;
    transition: width 0.5s ease-in;
    background-color: green;
}

.wrapper:hover .transitionWrapper{
    width: 300px;
    height: 300px;
}

.mainWrapper{
    display: flex;
}


@media screen  and (max-width: 576px) {
   .clickButton{
    border: 1px solid red !important;

   }

   .mainWrapper{
    flex-direction: column;
   }

   .smalldevice{
    display: block;
   }
    
}

@media screen and (min-width:576px) and (max-width:768px) {
    .clickButton{
        border: 2px solid yellow !important;
  
       }

       .smalldevice{
        display: none;
       }
}

@media screen and (min-width:1400px) {
    .clickButton{
        display: none;
        /* visibility: hidden; */
    }
    .smalldevice{
        display: none;
       }
}

.transitionWrapper p{

}

.transitionWrapper #test{

}

p{

}

.fixedButton{
    /* height: 200px; */
    position: fixed;
    top:50% ;
    left:50% ;
    transform: translate(-50%,-50%);
    z-index: 1;
}


.absoulteWrapper{
    position: relative;
    height: 400px;
    width: 1100px;
    border: 2px solid red;
}

.absoulteButton{
    position: absolute;
    top:35% ;
    left:50% ;
    z-index: -1;
  
}

.overlappingButton{
    position: absolute;
    top:40% ;
    left:55% ;
    z-index: 0;
}


/* SCSS Syntax Example: */

.navbarContainer__menu{

}

.navbarContainer__menu--list{

}


.navbarContainer{

    &__menu{
        & li{

            & a{
                
            }
        }

        &--list{

        }
        &--active{

        }
    }


}